
.container {
  font-family: system-ui, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto 200px;
  grid-template-areas: 
    "topbar1  topbar2 topbar3"
    "sidebar1 main1   main2"
    "sidebar2 main12  main22"
    "sidebar3 main13  main23";
}

.apptitle {
  grid-area: topbar2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbox {
  grid-area: main1;
  display: flex;
  justify-content: center;
}

.todolist {
  grid-area: main12;
  display: flex;
  justify-content: center;
}

.formattable {
  grid-area: main13;
  display: table;
}

.forrmattable td { 
  border: 1px solid whitesmoke; 
}
th, td {
  border: 1px solid whitesmoke;
  padding: 3px;
}

